* {
  font-family:fantasy;
}

body {
  background-color:orange;
}
h1 {
  padding-left:40ex;
  border:auto;
  margin:auto;
  font-size:1.75em;
}
div h1 {
  border:grey dashed 2ex;
  background-color:grey;
}
div p {
  border:grey dashed 2ex;
  background-color:grey;
}

h3 {
padding-left:50ex;
border:grey dashed 2ex;
background-color:grey;
}
p {
  padding-left:80ex;


}
td {
border:red solid 2ex;
background-color:grey;
}
video {
  margin-left:80ex;
}
h2 {
  margin-left:40ex;
}
